---
version: '2.1'

services:
  document-management-store-api-gateway-web:
    image: docker.artifactory.reform.hmcts.net/evidence/document-management-store-api-gateway-web:latest
    environment:
      - NODE_ENV=development
      - PORT=8080
      - EM_API_URL=http://document-management-store:8080
      - IDAM_BASE_URL=http://idam-api:8080
      - IDAM_S2S_URL=http://service-auth-provider-api:8080
      - IDAM_SERVICE_KEY=AAAAAAAAAAAAAAAA
      - IDAM_SERVICE_NAME=em_gw
      - CORS_ORIGIN_METHODS=GET,POST,PUT,DELETE,OPTIONS
      - CORS_ORIGIN_WHITELIST=http://document-management-store:8080
      #      logging env vars
      - ROOT_APPENDER=JSON_CONSOLE
      - LOG_OUTPUT=single
      - JSON_CONSOLE_PRETTY_PRINT=false
      - REFORM_SERVICE_TYPE=node
      - REFORM_SERVICE_NAME=em-api-gateway-web
      - REFORM_TEAM=cc
      - REFORM_ENVIRONMENT=docker
#      healthcheck env vars
      - PACKAGES_ENVIRONMENT=docker
      - PACKAGES_PROJECT=evidence
      - PACKAGES_NAME=em-api-gateway-web
      - PACKAGES_VERSION=unkown
      - XFWD=true
    ports:
      - 8080:8080
    links:
     - document-management-store
     - idam-api
     - service-auth-provider-api
    depends_on:
     - document-management-store
     - idam-api
     - service-auth-provider-api

  document-management-store:
    image: docker.artifactory.reform.hmcts.net/evidence/document-management-store:latest
    command: --wait-for-database 30
    environment:
      - SERVER_PORT=8080
      - IDAM_SUPERUSER_EMAIL
      - IDAM_SECRET_KEY=AAAAAAAAAAAAAAAA
      - GOV_NOTIFY_API_KEY
      - SPRING_DATASOURCE_URL=jdbc:postgresql://document-management-store-database:5432/evidence
      - SPRING_DATASOURCE_USERNAME=evidence
      - SPRING_DATASOURCE_PASSWORD=evidence
      - SPRING_PROFILES_ACTIVE=dev
      - IDAM_TESTING_SUPPORT_ENABLED=true
      - LOGGING_LEVEL_UK_GOV_HMCTS_IDAM=DEBUG
      - IDAM_CLIENT_URL=http://idam-api:8080
      - PROVIDER_SERVICE_CLIENT_URL=http://service-auth-provider-api:8080
      - http_proxy=
      - https_proxy=
      - no_proxy=
#      logging env vars
      - ROOT_APPENDER=JSON_CONSOLE
      - JSON_CONSOLE_PRETTY_PRINT=false
      - REFORM_SERVICE_TYPE=java
      - REFORM_SERVICE_NAME=document-management-store
      - REFORM_TEAM=cc
      - REFORM_ENVIRONMENT=docker
#      healthcheck env vars
      - PACKAGES_ENVIRONMENT=docker
      - PACKAGES_PROJECT=evidence
      - PACKAGES_NAME=document-management-store
      - PACKAGES_VERSION=unkown
#      debug mode
      - JAVA_OPTS=-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005
    ports:
      - 8083:8080
      - 5005:5005
    links:
     - document-management-store-database
     - idam-api
     - service-auth-provider-api
    depends_on:
     - document-management-store-database
     - idam-api
     - service-auth-provider-api

  document-management-store-database:
    image: docker.artifactory.reform.hmcts.net/evidence/document-management-store-database:latest
    ports:
      - 5432:5432

  idam-authentication-web:
    image: docker.artifactory.reform.hmcts.net/auth/authentication-web:latest
    environment:
    - IDAM_CONTINUE_URL_VALIDATOR_ENFORCE_TLS=false
    - IDAM_ENABLE_PROXY=false
    - IDAM_API_URL=http://idam-api:8080
    links:
    - idam-api
    - service-auth-provider-api
    ports:
    - 9000:9000

  idam-registration-web:
    image: docker.artifactory.reform.hmcts.net/auth/registration-web:latest
    environment:
    - IDAM_API_URL=http://idam-api:8080
    - IDAM_LOGIN_URL=http://idam-api:8080/login
    - IDAM_REGISTRATION_URL=http://idam-api:8080/register
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_REGISTRATION_WEB=AAAAAAAAAAAAAAAA
    links:
    - idam-api
    - service-auth-provider-api
    ports:
    - 9001:9000

  idam-api:
    image: docker.artifactory.reform.hmcts.net/auth/idam-api:latest
    command: --wait-for-database 60
    environment:
      - IDAM_SUPERUSER_EMAIL
      - SPRING_DATASOURCE_URL=jdbc:postgresql://idam-database:5432/idam
      - SPRING_MAIL_HOST=smtp-server
      - SPRING_PROFILES_ACTIVE=test
      - IDAM_TESTING_SUPPORT_ENABLED=true
      - http_proxy=
      - https_proxy=
      - no_proxy=
#      logging env vars
      - ROOT_APPENDER=JSON_CONSOLE
      - JSON_CONSOLE_PRETTY_PRINT=false
      - REFORM_SERVICE_TYPE=java
      - REFORM_SERVICE_NAME=idam-api
      - REFORM_TEAM=cc
      - REFORM_ENVIRONMENT=docker
    ports:
      - 8081:8080
    links:
      - smtp-server
      - idam-database
    depends_on:
      - idam-database
      - smtp-server

  idam-database:
    image: docker.artifactory.reform.hmcts.net/auth/idam-database:latest
    ports:
      - 5430:5432

  smtp-server:
    image: mailhog/mailhog

  service-auth-provider-api:
    image: docker.artifactory.reform.hmcts.net/auth/service-auth-provider-api:47e18b53aad48ae8124744041988565e07dfed50
#    image: docker.artifactory.reform.hmcts.net/auth/service-auth-provider-api:latest
    environment:
      - auth.provider.service.server.jwtKey=wThK0f0/lh3FlxFcL4xUWDMI5C1J9KyQBgXV4wseh1e5J1uYJIjvTvArHxQDrYoHJ23xFxjHkOnvNbR5dXRoxA==
      - auth.provider.service.server.microserviceKeys.em_gw=AAAAAAAAAAAAAAAA
#      logging env vars
      - ROOT_APPENDER=JSON_CONSOLE
      - JSON_CONSOLE_PRETTY_PRINT=false
      - REFORM_SERVICE_TYPE=java
      - REFORM_SERVICE_NAME=service-auth-provider-api
      - REFORM_TEAM=cc
      - REFORM_ENVIRONMENT=docker
    ports:
      - 8082:8080


## Bonus Service
#  pgadmin4:
#     image: fenglc/pgadmin4:latest
#     environment:
#      - DEFAULT_USER=admin
#      - DEFAULT_PASSWORD=admin
#     links:
#     - document-management-store-database
#     - idam-database
#     depends_on:
#     - document-management-store-database
#     - idam-database
#     ports:
#     - 5050:5050
